body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    to bottom,
    #000 0%,
    #000 33.33%,
    #dd0000 33.33%,
    #dd0000 66.66%,
    #ffce00 66.66%,
    #ffce00 100%
  );
}
